body {
    background-color: #001632;
    color: white;
}

#todo-list .todo.done{
    color: red;
    text-decoration: line-through;
}
.center{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.icon{
    background-color: red;
    color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
li div, .icon{
    cursor: pointer;
}